<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="utf-8">
       <meta http-equiv="x-ua-compatible" content="ie=edge">
       <meta name="keywords" content="happymmall,电商">
       <meta name="description" content="happymmall电商平台开发教程">
        <title> 详情页-happymmall电商平台</title>
          <link href="../css/common/layout.css" rel="stylesheet" type="text/css">
          <link href="../css/detail/index.css" rel="stylesheet" type="text/css">
          <link href="../css/common/header.css" rel='stylesheet' type="text/css">
          <link href="../css/common/nav.css" rel="stylesheet" type="text/css">
          <link href="../css/common/footer.css" rel='stylesheet' type="text/css">
    </head>
    <body>
         <div id="nav">   
         </div>
        <div id="header">
        </div>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">MMall</a>
                    <span>></span>
                    <span class="link-text"></span>
                </div>
            </div>
        </div>
        <div id="page-wrap" class="page-wrap w">
        
        </div>
        <div id ="footer">   
        </div>
         <script src="../scripts/lib/require.js" data-main="../scripts/detail"></script>   
    </body>
</html>