<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		 <meta http-equiv="x-ua-compatible" content="ie=edge">
         <meta name="keywords" content="happymmall,电商">
         <meta name="description" content="happymmall电商平台开发教程">
		<title></title>
		<link href="../css/common/layout.css" rel="stylesheet" type="text/css">
		<link href="../css/order-confirm/index.css"rel="stylesheet" type="text/css">
        <link href="../css/common/header.css" rel='stylesheet' type="text/css">
        <link href="../css/common/nav.css" rel="stylesheet" type="text/css">
        <link href="../css/common/footer.css" rel='stylesheet' type="text/css">
	</head>
	<body>
		 <div id="nav"></div>
		 <div id="header"></div>
		 <div class="crumb">
		 	   <div class="w">
		 	   	    <div class="crumb-con">
		 	   	    	 <a class="link" href="./index.html">MMall</a>
		 	   	    	 <span>></span>
		 	   	    	 <span class="link-text"></span>
		 	   	    </div>
		 	   </div>
		 </div>
		 <div class="page-wrap w">
		 	 <div class="panel">
		 	 	   <h1 class="page-title">收货地址</h1>
		 	 	   <div class="page-body address-con clearfix">
		 	 	   	    
		 	 	   </div>
		 	 </div>
		 	 <div class="panel">
		 	 	   <h1 class="page-title">商品清单</h1>
		 	 	   <div class="page-body product-con">
		 	 	   	   
		 	 	   </div>
		 	 </div>
		 </div>
		 <div class = "modal-wrap">
		 	  
		 </div>
		 <div id="footer"></div>
		  <script src="/mmall/src/scripts/lib/require.js" data-main="../scripts/order-confirm"></script> 
</html>
