<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
       <meta http-equiv="x-ua-compatible" content="ie=edge">
       <meta name="keywords" content="happymmall,电商">
       <meta name="description" content="happymmall电商平台开发教程">
        <title>user-pass-update - happymmall电商平台</title>
         <link href="../css/common/layout.css" rel="stylesheet" type="text/css">
        <link href="../css/user-pass-update/index.css" rel="stylesheet" type="text/css">
         <link href="../css/common/header.css" rel='stylesheet' type="text/css">
          <link href="../css/common/nav.css" rel="stylesheet" type="text/css">
          <link href="../css/common/footer.css" rel='stylesheet' type="text/css">
        <link href="../css/common/nav-side.css" rel='stylesheet' type="text/css">
    </head>
    <body>
     <div id="nav">
     </div>
     <div id="header">
     </div>
        <div class="crumb">
            <div class="w">
                <div class="crumb-con">
                    <a class="link" href="./index.html">MMall</a>
                    <span>></span>
                    <span class="link-text"></span>
                </div>
            </div>
        </div>
        <div class="page-wrap w">
            <ul class="nav-side">
    
            </ul>
            <div class="content with-nav">
                <div class="panel">
                    <div class="panel-title">修改密码</div>
                    <div class="panel-body">
                        <div class="user-info">
                            <div class="form-line">
                                <span class="label">原密码：</span>
                                <input type="password" class="input" id="password" autocomplete="off"/>
                            </div>
                            <div class="form-line">
                                <span class="label">新密码：</span>
                                <input type="password" class="input" id="password-new" autocomplete="off"/>
                            </div>
                            <div class="form-line">
                                <span class="label">确认密码：</span>
                                <input type="password" class="input" id="password-confirm" autocomplete="off"/>
                            </div>
                            <span class="btn btn-submit">提交</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div id="footer">
       </div>
        <script src="../scripts/lib/require.js" data-main="../scripts/user-pass-update"></script>
    </body>
</html>